body {
    background: greenyellow;
    color: yellow;
    text-shadow: black;
    text-emphasis-color: black;
    -webkit-text-fill-color: black;
    
  

    
  }
  a {
    color: #D1D1D1;
  }
  .container {
   
    text-align: left;
    max-width: 580px;
    margin: 1em auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: black;
    text-emphasis-color: black;
    display: grid;
  gap: 20px;
  padding: 20px;
  border: 2px solid #333; 
  border-radius: 10px; 
    
    
  }
  code {
    padding: 1em;
    display: block;
    overflow-wrap: break-word;
    background: #662B61;
    border-radius: 1em;
  }


  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin-left: 180px;
  }
